body{
    background-image: url("HomeHatter.png");
    background-attachment: fixed;
    background-position: center;
}
nav {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
    );
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
}
nav a{
    color: white;
    font-family: "Orbitron", sans-serif;
}
nav a:hover{
    color: gray
}
h1{
    font-family: "Orbitron", sans-serif;
    text-align: center;
}
h2{
    font-family: "Orbitron", sans-serif;
    text-align: center;
}
